<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Display page</title>
    <center><h1>OCR-APPLICATION</h1></center>
    </head>  
    <body>
            <nav class="navbar navbar-dark navbar-expand-lg bg-dark">                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('upload_func1')}}">Upload <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('preview_func')}}">Preview <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('display_func')}}">Display <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('list_func')}}">List<span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </nav>

            <div class="image-class" style="float:left; margin:20px;  margin-left: 40px;">
                    <img src="{{url_for('send_image', filename=image_name)}}" width="450" height="550">
            </div>

            <div class="details-class" style="float:left; margin-left:50px;">
                <form action='/list?order_number={{order_number}}&customer_name={{customer_name}}&retailer_name={{retailer_name}}&order_date={{order_date}}&billing_address={{billing_address}}', method="POST", enctype="multipart/form-data">
                <br>
                <h5>ORDER NO:</h5>{{order_number}}<input type="text" name="order_number_mod" style="float:right"; >
                <br>
                <h5>CUSTOMER NAME:</h5>{{customer_name}}<input type="text" name="customer_name_mod" style="float:right"; >
                <br>
                <h5>VENDOR NAME:</h5>{{retailer_name}}<input type="text" name="retailer_name_mod" style="float:right"; >
                <br>
                <h5>DATE:</h5>{{order_date}}<input type="text" name="order_date_mod" style="float:right"; >
                <br>
                <h5>BILLING ADDRESS:</h5>{{billing_address}}<input type="text" name="billing_address_mod" style="float:right"; >
                <br>
                <br>
                <br>
                <center><input type="submit" name="save_ocr" value="SAVE"></center> 
                </form>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>