<!DOCTYPE html>

<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Upload page</title>
    <center><h1>OCR-APPLICATION</h1></center>
    </head>  
    <body>
            <nav class="navbar navbar-dark navbar-expand-lg bg-dark">                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('upload_func')}}">Upload <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('preview_func')}}">Preview <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('display_func', filename=image_name)}}">Display <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('list_func')}}">List<span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </nav>
            <center><h3>Attach an image to perform OCR</h3></center><br>
                <br>
                <br>
                <div>
                    <center>
                <h5>Select image to upload:</h5>
                    <form action="{{url_for('upload_func')}}" method="post" enctype="multipart/form-data">
                        <input type = "file" name="file" accept="image/* multiple">
                        <input type="submit" value="Upload image" name='send_image'><br>
                    </form>
                    </center>
            </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
</html>
